body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #96B6C5;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 50px; /* Adjust the width according to your logo */
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #ADC4CE;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #777;
}
.hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
}

h1 {
    margin: 0;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.imagery-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4; /* Adjust the background color as needed */
}

.image {
    flex: 0 0 30%; /* Adjust the width of each image as needed */
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}